.menupont {
    position: relative;
    background-color: #c64c09;
}

.menupont:hover:after{
    border-left: 10px solid transparent;
    border-right: 11px solid transparent; content:"";
    border-top: 13px solid #c64c09;
    position: absolute;
    bottom: -23px;
    width: 0px;
    left: 50%;
    margin-left: -10px;
}

